.banner {
    position: relative;
    background-image: url('/images/bizny_banner.jpeg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

h1 {
  text-align: center;
}

.title {
  color: #fff;
}

.bizny_logo {
  display: block;
  margin: 0 auto;
}
.download_btn {
    display: block;
    margin: 0 auto;
    width: 180px;
}

#feature_title {
  font-size: 3rem;
  color: #fff;
}

#feature_subtitle {
  font-size: 2rem;
  color: #fff;
}

#feature_subtitle:before,
#feature_subtitle:after {
  content: '-';
}

.card_image {
  width: 250px;
  height: 260px;
  margin: auto;
}

.card_image img {
  height: 100%;
}

.features {
  margin-bottom: 2rem;
}

#feature_0,
#feature_5 {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c401c4+0,377be8+100 */
background: rgb(196,1,196); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(196,1,196,1) 0%, rgba(55,123,232,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(196,1,196,1) 0%,rgba(55,123,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(196,1,196,1) 0%,rgba(55,123,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


}
#feature_1,
#feature_4 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3f7eea+0,e002e8+100 */
background: rgb(63,126,234); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(63,126,234,1) 0%, rgba(224,2,232,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(63,126,234,1) 0%,rgba(224,2,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(63,126,234,1) 0%,rgba(224,2,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#feature_2,
#feature_3 {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ed53c4+0,a42bb5+100 */
background: rgb(237,83,196); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(237,83,196,1) 0%, rgba(164,43,181,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(237,83,196,1) 0%,rgba(164,43,181,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(237,83,196,1) 0%,rgba(164,43,181,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.feature-card .card-action {
  font-weight: bolder;
}

@media screen and (min-width: 375px) {}

@media screen and (min-width: 560px) {}

@media screen and (min-width: 770px) {
  .download_btn {
      width: 240px;
  }
}

@media screen and (min-width: 1440px) {}

@media screen and (min-width: 1920px) {}
